<% include header.ejs %>
  <div class='grid'>
    <% cards.forEach(function(card){ %>
        <div class='grid-item'><img src='/uploads/<%= `${card.id}.${card.format}` %>' class='card' id='card-id-<%=card.id%>' alt='<%=card.alt%>' title='<%=card.alt%>' onclick='window.sendCard(<%=card.id%>)'/></div>
    <% }); %>
  </div>
  <% if(cards.length > 0) { %>
      <a class='pagination__next' href='?page=<%=page + 1%>&cat=<%=cat%>'></a>
  <% } %>
    <div class="page-load-status">
      <p class="infinite-scroll-request">Loading...</p>
    </div>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" crossorigin="anonymous"></script>
    <script async src="/js/main.js?v=1"></script>
<% include footer.ejs %>